/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "montserrat", sans-serif;
}


/* COMMON */
/* LAYOUT */

.wrapper {
    width: 100%;
    height: 100vh;

}


/* TOP CONTAINER */
.top-container {
    display: flex;
    height: calc(100% - 80px);
    background-color: aquamarine;

}

/* SIDEBAR */
.side-bar {
    width: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 5px;
}


.small-icon {
    max-width: 30px;
}

.logo {
    display: none;
    padding: 5px;
    margin-bottom: 25px;
}

.fisrt-list ul li {
    display: flex;
}

.central-span {
    position: relative;
    bottom: 7px;
    display: none;
}


.central-span-crea {
    position: relative;
    bottom: 11px;
    left: 10px;
    display: none;
}


.side-bar ul {
    color: white;
    list-style: none;
}

.display-flex {
    display: flex;
}

.mini-icon {
    max-width: 20px;
    padding-left: 5px;
}

.position {
    position: relative;
    top: 15px;
}

.margin-left10 {
    margin-left: 10px;
}

.installa,
.john {
    display: none;
}

.small-icon hr {
    margin: 8px;
    width: 500%;
    display: none;
}


#profile {
    background-color: grey;
    border-radius: 50%;
    object-fit: contain;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grey {
    color: grey;
}

.strong {
    font-weight: 800;
}

.white {
    color: white;
}


.second-list {
    display: none;
}

.side-bar li {
    margin: 18px 0;
}

hr {
    display: none;
}


/* CONTENT */
.content {
    color: white;
    width: calc(100% - 60px);
    background-color: rgb(42, 42, 45);
    overflow-y: auto;

}

/* HEADER */
header {
    height: 100px;
    background-color: rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    text-decoration: none;
    border: 2px solid white;
    padding: 15px 45px;
    border-radius: 40px;
    margin-right: 5px;
}


/* MAIN NAV */

main {
    padding: 20px;
}


a {
    color: inherit;
}


main nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    color: grey;
}


/* SECTION GRID */


.margin-top40 {
    margin-top: 40px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}


.flex {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.col {
    width: calc(100% / 2 - 10px / 2);
}

.title-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-col {
    font-weight: 800;
    margin-bottom: 5px;
}

.subtitle-col {
    font-size: 0.9rem;
    font-weight: 800;
    color: grey;
    margin-bottom: 30px;
}

.radius {
    border-radius: 50%;
}


/* FOOTER */

.action-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;

}

/*Album Playing*/
.album-playing-container {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(47, 45, 45);
}

.album-playing-container img {
    max-width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.album-playing-container i {
    font-size: 16px;
}

.album-name {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.album-icons {
    display: flex;
    flex-direction: column;
    color: grey;
}

.fa-heart {
    padding-right: 15px;
}

.album-name a {
    text-decoration: none;
}



/* player */

.player-container {
    flex-basis: 40%;
    margin-bottom: 12px;
    background-color: rgb(47, 45, 45);
    flex-grow: 1;
}

.player {
    padding: 10px 0 15px;

}

.player ul {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.progressbar-and-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 45, 45);
    padding-bottom: 8px;
    
}

.progress-bar {
    height: 4px;
    flex-grow: 1;
    background-color: #535353;
    border-radius: 5px;
    position: relative;
}

.partial-bar {
    height: 4px;
    width: 25%;
    background-color: #fff;
    border-radius: 5px;
}


.song-progress {
    padding-right: 30px;
    font-size: 0.6rem;
}

.song-duration {
    padding-left: 30px;
    font-size: 0.6rem;
}

.player ul li {
    display: inline;
}


.fa-random,
.fa-step-backward,
.fa-play-circle,
.fa-step-forward {
    padding-right: 20px;
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt {
    font-size: 25px;
}

.fa-play-circle {
    font-size: 35px;
}


/*Right Controller*/
  .right-controller-container {
	flex-basis: 30%;
	display: flex;
	flex-direction: row;
     background-color: rgb(47, 45, 45);
  }
  
  .right-controller {
	display: flex;
	flex-direction: row;
    align-items: center;
    padding-left: 10px;

  }
  
  .right-controller i {
    color: white;
	font-size: 12px;
  }
  
  .right-controller a {
	padding-right: 15px;
  }
  
  .right-controller-bar {
	flex-basis: 40%;
	height: 4px;
	background: #535353;
	border-radius: 2px;
	align-self: center;
	position: relative;
  }
  
  .right-controller-partial-bar {
	height: 4px;
	width: 25%;
	background-color: #fff;
	border-radius: 5px;
  }





/* RESPONSIVE mobile-s: 600px */

@media screen and (min-width:600px) {

    /* SIDEBAR */
    .side-bar {
        width: 200px;
    }

    .logo {
        display: block;
    }

    .small-logo {
        display: none;
    }

    .small-icon hr {
        margin: 8px;
        width: 500%;
        display: block;
    }

    .second-list {
        display: block;
    }

    .central-span {
        display: inline-block;
    }

    .central-span-crea {
        display: inline-block;
    }

    .installa,
    .john {
        display: block;
    }


    hr {
        display: block;
    }


    /* CONTENT */
    .content {
        width: calc(100% - 200px);
    }

}


/* RESPONSIVE tablet-md: 700px */

@media screen and (min-width:700px) {

    .col {
        width: calc(100% / 4 - (10px * 3) / 4);
    }
}


/* RESPONSIVE desktop-lg: 1100px */

@media screen and (min-width:1100px) {
    .col {
        width: calc(100% / 6 - (10px * 5) / 6);
    }

}