/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.wrapper {
    width: 100%;
    height: 100vh;
}




/* MAIN */


.central-bar {
    display: flex;
    flex-direction: column;
}

.side-bar {
    width: 40px;
    height: 95vh;
    background-color: blue;
    position: absolute;


}



.upgrade-bar {
    background-color: blueviolet;
    height: 10vh;

}

.main-bar {
    background-color: lightsalmon;
    width: 100%;
    height: 85vh;
    overflow-y: auto;

}





/* FOOTER */

.player-container {
    height: 70px;
    background-color: aqua;

}



/* RESPONSIVE mobile-s: 600px */

@media screen and (min-width:600px) {

    .side-bar {
        width: 220px;

    }

}


/* RESPONSIVE tablet-md: 700px */

@media screen and (min-width:700px) {

}


/* RESPONSIVE desktop-lg: 1100px */ 

@media screen and (min-width:1100px) {

}